<nav class="header navbar navbar-expand-lg navbar-light bg-light">
  <img src="assets/therock.webp" alt="the rock" class="navbar-brand logo-img" />
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <a href="#" class="nav-item nav-link">Sus link</a>
      <a href="#" class="nav-item nav-link">Do</a>
      <a href="#" class="nav-item nav-link">not</a>
      <a href="#" class="nav-item nav-link">click</a>
      <a href="#" class="nav-item nav-link">these</a>
    </ul>
  </div>
</nav>
