<nav class="header">
  <a [routerLink]="['/']" class="navbar-icon-anchor"
    ><img src="assets/home.svg" alt="home icon" class="navbar-image"
  /></a>
  <a [routerLink]="['/notifications']" class="navbar-icon-anchor"
    ><img
      src="assets/notification.svg"
      alt="notifications icon"
      class="navbar-image"
  /></a>
  <a [routerLink]="['search']" class="navbar-icon-anchor"
    ><img src="assets/search.svg" alt="home icon" class="navbar-image"
  /></a>
  <a [routerLink]="['settings']" class="navbar-icon-anchor"
    ><img src="assets/settings.svg" alt="home icon" class="navbar-image"
  /></a>
  <a [routerLink]="['profile']" class="navbar-icon-anchor"
    ><img src="assets/default_profile.jpg" alt="home icon" class="navbar-image"
  /></a>
</nav>
