<div class="create-subject">
  <button class="btn btn-outline-dark back-btn" (click)="onBack()">
    <img
      src="assets/left_arrow.svg"
      alt="back button arrow"
      class="normal-icon"
    />
  </button>
  <form action="" (ngSubmit)="onSaveClick()">
    <!--SUBJECT-->
    <div class="input-row">
      <label for="subject-input">Subject name</label>
      <select
        type="text"
        class="text-input"
        [ngModel]="
          currCourseSubjIndex === -1 ? '' : subjects[currCourseSubjIndex].name
        "
        id="subject-input"
        name="subject-input"
        [disabled]="dialogState === EditComponentStates.WAITING"
      >
        <option [ngValue]="subj.name" *ngFor="let subj of subjects">
          {{ subj.name }}
        </option>
      </select>
    </div>
    <!--TEACHER-->
    <div class="input-row">
      <label for="teacher-input">Teacher</label>
      <select
        type="text"
        class="text-input"
        [ngModel]="
          currCourseTeacherIndex === -1
            ? ''
            : teachers[currCourseTeacherIndex].name
        "
        id="teacher-input"
        name="teacher-input"
        [disabled]="dialogState === EditComponentStates.WAITING"
      >
        <option [ngValue]="tch.name" *ngFor="let tch of teachers">
          {{ tch.name }}
        </option>
      </select>
    </div>
    <!--CLASS-->
    <div class="input-row">
      <label for="class-input">Class</label>
      <select
        type="text"
        class="text-input"
        [ngModel]="
          currCourseClassIndex === -1 ? '' : classes[currCourseClassIndex].name
        "
        id="class-input"
        name="class-input"
        [disabled]="dialogState === EditComponentStates.WAITING"
      >
        <option [ngValue]="cls.name" *ngFor="let cls of classes">
          {{ cls.name }}
        </option>
      </select>
    </div>
    <div class="input-row">
      <p>Time Period</p>
      <div class="date-inputs-row">
        <input
          type="date"
          class="text-input"
          [(ngModel)]="item['_id']"
          id="start-date-input"
          name="start-date-input"
          [disabled]="dialogState === EditComponentStates.WAITING"
        />
        <input
          type="date"
          class="text-input"
          [(ngModel)]="item['_id']"
          id="end-date-input"
          name="end-date-input"
          [disabled]="dialogState === EditComponentStates.WAITING"
        />
      </div>
    </div>
    <button
      type="submit"
      class="btn btn-outline-dark"
      id="save-btn"
      [disabled]="dialogState === EditComponentStates.WAITING"
    >
      {{
        dialogState === EditComponentStates.CREATE ? "Create item" : "Save item"
      }}
    </button>
  </form>
</div>

<app-admin-table
  [disableTable]="dialogState === EditComponentStates.WAITING"
  [displayedAttributes]="['name']"
  [selectedItemIndex]="selectedItemIndex"
  [items]="items"
  (clickedPlus)="onPlusClick()"
  (confirmedDelete)="onConfirmDelete($event)"
  (selectedItem)="selectItem($event)"
></app-admin-table>
