<div
  [ngClass]="isDocked ? 'courses-sidebar docked' : 'courses-sidebar not-docked'"
>
  <div *ngIf="!isDocked; else selectedCourse" class="icons-contianer">
    <a
      [routerLink]="['/course']"
      class="course-anchor"
      *ngFor="let course of courses; let i = index"
      [ngStyle]="getRandomColorStyle()"
      (click)="onCourseIconClick(i)"
    >
      <h2 class="course-name-letter">{{ course.name.charAt(0) }}</h2></a
    >
  </div>
  <ng-template #selectedCourse>
    <div class="icons-contianer">
      <a
        [routerLink]="['/course']"
        class="course-anchor"
        [ngStyle]="getRandomColorStyle()"
        (click)="onCourseIconClick(0)"
      >
        <h2 class="course-name-letter">{{ courses[0].name.charAt(0) }}</h2></a
      >
    </div>
  </ng-template>
  <div
    class="not-docked-arrow-container"
    (click)="dockSelf()"
    *ngIf="isDocked === false; else docked"
  >
    <img
      src="assets/up_arrow.svg"
      class="arrow-not-docked"
      alt="expand courses arrow"
    />
  </div>
  <ng-template #docked>
    <img
      src="assets/down_arrow.svg"
      class="arrow-docked"
      alt="dock courses arrow"
      (click)="dockSelf()"
    />
  </ng-template>
</div>
