:host {
  height: 100vh;
  /* width: 100%; */
  /* margin-right: var(--NORMAL-GAP); */
  position: fixed;
  left: 0;
  z-index: 2;
  overflow-y: auto;
  overflow-x: hidden;
  /* filter: var(--DROP-SHADOW); */
}

.courses-sidebar {
  width: var(--COURSES-SIDEBAR-WIDTH);
  max-width: var(--COURSES-SIDEBAR-MAX-WIDTH);
  background-color: var(--bs-light);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.courses-sidebar.not-docked {
  min-height: 100vh;
  border-radius: 0;
  gap: var(--NORMAL-GAP);
  border-right: var(--NORMAL-BORDER);
  padding-bottom: calc(var(--NORMAL-PADDING-X) + 2 * var(--LARGE-ICON-SIZE));
}

.courses-sidebar.docked {
  height: max-content;
  border-radius: 0 0 2.5rem 2.5rem;
  border: var(--NORMAL-BORDER);
  border-top: 0;
  /* filter: var(--DROP-SHADOW); */
}

.courses-sidebar .icons-contianer {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  align-items: center;
  gap: var(--NORMAL-GAP);
  padding: var(--NORMAL-PADDING-X);
}

.course-anchor {
  z-index: 1;
  height: var(--LARGE-ICON-SIZE);
  width: var(--LARGE-ICON-SIZE);
  background-color: green;
  filter: hue-rotate(160deg);
  border-radius: 100%;
  display: grid;
  place-content: center;
  /* cursor: pointer; */
}

a {
  text-decoration: none;
}

.course-anchor h2 {
  color: white;
  margin: 0;
  display: block;
}

.courses-sidebar .arrow-not-docked {
  height: var(--NORMAL-ICON-SIZE);
  object-fit: contain;
  cursor: pointer;
}

.courses-sidebar .arrow-docked {
  height: var(--NORMAL-ICON-SIZE);
  object-fit: contain;
  cursor: pointer;
  transform: translateY(-0.5rem);
}

.course-name-letter {
  font-size: 1.25rem;
}

.not-docked-arrow-container {
  cursor: pointer;
  filter: var(--DROP-SHADOW);
  position: fixed;
  z-index: 1;
  bottom: calc(var(--NAV-BAR-HEIGHT) + 0.5rem);
  height: 2.5rem;
  width: calc(
    min(var(--COURSES-SIDEBAR-WIDTH), var(--COURSES-SIDEBAR-MAX-WIDTH)) - 1rem
  );
  display: grid;
  place-content: center;
  /* background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.445) 0%,
    rgba(0, 0, 0, 0.267) 20%,
    rgba(0, 212, 255, 0) 100%
  ); */
  background-color: var(--BACKGROUND-PRIMARY);
  border: var(--NORMAL-BORDER);
}
