.course-details {
  position: fixed;
  z-index: 1;
  top: 0;
  height: var(--NAV-BAR-HEIGHT);
  width: 100%;
  background-color: var(--bs-light);
  display: flex;
  align-items: center;
  filter: var(--DROP-SHADOW);
}

h1 {
  margin-left: calc(
    min(var(--COURSES-SIDEBAR-WIDTH), var(--COURSES-SIDEBAR-MAX-WIDTH)) +
      var(--NORMAL-GAP)
  );
}
