.course-details {
  position: fixed;
  z-index: 1;
  top: 0;
  height: var(--NAV-BAR-HEIGHT);
  width: 100%;
  background-color: var(--bs-light);
  display: flex;
  align-items: center;
  border-bottom: var(--NORMAL-BORDER);
}

.course-details h1 {
  flex-grow: 1;
  /* flex-shrink: 0; */
  flex-basis: 50%;
  /* background-color: green; */
}

.course-details > .options {
  flex-grow: 1;
  flex-basis: 50%;
}

.options {
  display: flex;
  gap: var(--SMALL-GAP);
  padding: var(--NORMAL-PADDING-X);
}

h1 {
  margin-left: calc(
    min(var(--COURSES-SIDEBAR-WIDTH), var(--COURSES-SIDEBAR-MAX-WIDTH)) +
      var(--NORMAL-GAP)
  );
  margin-bottom: 0;
  font-size: calc(1.2rem + 0.3vw);
}

h2 {
  font-size: calc(0.8rem);
  margin: 0;
  transform: translateY(0.17rem);
  cursor: pointer;
  position: relative;
  padding: var(--EXTRA-SMALL-PADDING-Y) var(--SMALL-PADDING-X);
}

h2:hover {
  background-color: var(--BACKGROUND-SECONDARY-LIGHT);
}

.selected-option {
  border: var(--NORMAL-BORDER);
  border-radius: var(--NORMAL-BORDER-RADIUS);
}

@media (hover: hover) {
  h2:hover {
    background-color: var(--BACKGROUND-SECONDARY-LIGHT);
  }

  .selected-option:hover {
    background-color: var(--BACKGROUND-SECONDARY);
    /* border-color: var(--ACCENT-PRIMARY); */
  }
}

@media (hover: none) {
  h2:hover {
    background-color: transparent;
  }
}
