.popup {
  display: grid;
  place-content: center;
  background-color: var(--BACKGROUND-PRIMARY);
  border: var(--NORMAL-BORDER);
  padding: var(--NORMAL-PADDING-X);
  height: 10rem;
  width: 20rem;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20%;
  z-index: 5;
}

:host h1 {
  text-align: center;
}

.buttons-grid {
  justify-self: center;
  width: 60%;
  display: grid;
  place-content: center;
  grid-template-columns: 50% 50%;
  gap: var(--NORMAL-GAP);
}

.enter-anim {
  animation: popup-enter 200ms linear 0ms 1;
}

.exit-anim {
  animation: popup-leave 200ms linear 0ms 1;
  animation-fill-mode: forwards;
}

@keyframes popup-enter {
  0% {
    transform: translate(-50%, +100%);
  }

  75% {
    transform: translate(-50%, -1.5rem);
  }

  90% {
    transform: translate(-50%, 1rem);
  }

  100% {
    transform: translate(-50%, 0%);
  }
}

@keyframes popup-leave {
  60% {
    transform: translate(-50%, -1.5rem);
  }
  100% {
    transform: translate(-50%, 50vh);
  }
}
