<div class="create-subject">
  <form action="" (ngSubmit)="onSaveClick()">
    <!--NAME-->
    <div class="input-row">
      <label for="name-input">Username</label>
      <input
        type="text"
        class="text-input"
        [(ngModel)]="item.name"
        id="name-input"
        name="name-input"
        [disabled]="dialogState === EditComponentStates.WAITING"
      />
    </div>
    <!--PASSWORD-->
    <div class="input-row">
      <label for="password-input">Password</label>
      <input
        type="text"
        class="text-input"
        [(ngModel)]="item.password"
        id="password-input"
        name="password-input"
        [disabled]="dialogState === EditComponentStates.WAITING"
      />
    </div>
    <!--EMAIL-->
    <div class="input-row">
      <label for="email-input">Email</label>
      <input
        type="text"
        class="text-input"
        [(ngModel)]="item.email"
        id="email-input"
        name="email-input"
        [disabled]="dialogState === EditComponentStates.WAITING"
      />
    </div>
    <!--USER TYPE-->
    <div class="input-row">
      <label for="type-input">Type</label>
      <select
        type="list"
        class="text-input cool-select"
        id="type-input"
        name="type-input"
        [(ngModel)]="item.user_type"
        [disabled]="dialogState === EditComponentStates.WAITING"
      >
        <option *ngFor="let type of userTypesArray" [ngValue]="type">
          {{ type.toLowerCase() }}
        </option>
      </select>
    </div>
    <!--LANSAT-->
    <div class="input-row">
      <label for="lansat-input">Lansat</label>
      <select
        type="list"
        class="text-input cool-select"
        id="lansat-input"
        name="lansat-input"
        [(ngModel)]="item.lansat"
        [disabled]="dialogState === EditComponentStates.WAITING"
      >
        <option [ngValue]="true">Yes</option>
        <option [ngValue]="false">No</option>
      </select>
    </div>
    <button
      type="submit"
      class="btn btn-outline-dark"
      id="save-btn"
      [disabled]="dialogState === EditComponentStates.WAITING"
    >
      {{
        dialogState === EditComponentStates.CREATE
          ? "Create account"
          : "Save account"
      }}
    </button>
  </form>
</div>

<app-admin-table
  [disableTable]="dialogState === EditComponentStates.WAITING"
  [displayedAttributes]="['name', 'password', 'email', 'type', 'lansat']"
  [selectedItemIndex]="selectedItemIndex"
  [items]="items"
  (clickedPlus)="onPlusClick()"
  (confirmedDelete)="onConfirmDelete($event)"
  (selectedItem)="selectItem($event)"
></app-admin-table>
