<div class="create-subject">
  <form action="" (ngSubmit)="onSave()">
    <!--NAME-->
    <div class="input-row">
      <label for="name-input">Subject name</label>
      <input
        type="text"
        class="text-input"
        [(ngModel)]="subject.name"
        id="name-input"
        name="name-input"
        [disabled]="dialogState === EditComponentStates.WAITING"
      />
      <img
        src="assets/loading.gif"
        class="medium-icon"
        alt="loading gif"
        *ngIf="
          dialogState === EditComponentStates.WAITING && subjects.length > 0
        "
      />
    </div>
    <!--PASSWORD-->
    <div class="input-row">
      <label for="password-input">Password</label>
      <input
        type="text"
        class="text-input"
        [(ngModel)]="subject.name"
        id="password-input"
        name="password-input"
        [disabled]="dialogState === EditComponentStates.WAITING"
      />
    </div>
    <!--EMAIL-->
    <div class="input-row">
      <label for="email-input">Email</label>
      <input
        type="text"
        class="text-input"
        [(ngModel)]="subject.name"
        id="email-input"
        name="email-input"
        [disabled]="dialogState === EditComponentStates.WAITING"
      />
    </div>
    <!--USER TYPE-->
    <div class="input-row">
      <label for="type-input">Type</label>
      <select
        type="list"
        class="text-input cool-select"
        id="type-input"
        name="type-input"
        [(ngModel)]="usertype"
        [disabled]="dialogState === EditComponentStates.WAITING"
      >
        <option *ngFor="let type of UserTypes">{{ type }}</option>
      </select>
    </div>
    <button
      type="submit"
      class="btn btn-outline-dark"
      id="save-btn"
      [disabled]="dialogState === EditComponentStates.WAITING"
    >
      {{
        dialogState === EditComponentStates.CREATE
          ? "Create account"
          : "Save account"
      }}
    </button>
  </form>
</div>

<app-admin-table
  [disableTable]="dialogState === EditComponentStates.WAITING"
  [displayedAttributes]="['name']"
  [allowedClickIds]="['name-input', 'save-btn']"
  [selectedItemIndex]="selectedSubjectIndex"
  [items]="subjects"
  (clickedPlus)="onPlusClick()"
  (clickedOutsideTable)="onClickOutsideTable2($event)"
  (confirmedDelete)="onConfirmDelete($event)"
  (selectedItem)="selectSubject($event)"
></app-admin-table>
