<div class="course-post">
  <div
    [ngClass]="
      showTypeIcon === true ? 'images-container-grid' : 'images-container-row'
    "
  >
    <a href="#">
      <img
        src="{{ leftPictureSrc }}"
        alt="profile picture"
        [ngClass]="
          showTypeIcon === false ? 'course-anchor' : 'medium-icon round-border'
        "
    /></a>
    <img
      *ngIf="showTypeIcon === true"
      [src]="getTypeIconSrc()"
      alt="right picture"
      class="medium-icon"
    />
    <h4 class="author-name" *ngIf="showTypeIcon === false; else courseName">
      {{ post.author }}
    </h4>
    <ng-template #courseName>
      <h4 class="course-name">{{ post.course?.name }}</h4>
    </ng-template>
  </div>
  <div class="post-content">
    <div class="title-date-row">
      <h1 class="post-title">{{ post.title }}</h1>
      <h4 class="post-date">{{ post.date }}</h4>
    </div>
    <p class="post-text">{{ post.text }}</p>
    <hr *ngIf="hasComments" />
    <h2
      class="nr-comments"
      (click)="toggleCommentsExpand()"
      *ngIf="post.comments !== undefined && post.comments.length > 0"
    >
      {{
        nrShownComments > nrInitialCommentsShown
          ? "show less"
          : post.comments.length - nrInitialCommentsShown > 0
          ? (post.comments.length - nrInitialCommentsShown).toString() +
            (post.comments.length - nrInitialCommentsShown > 1
              ? " more comments"
              : " more comment")
          : ""
      }}
    </h2>
    <!--THE COMMENTS LIST-->
    <div
      class="comments-wrapper"
      *ngIf="
        post.comments !== undefined &&
        nrShownComments > 0 &&
        post.comments.length > 0
      "
    >
      <div
        class="comment-row"
        *ngFor="
          let comment of post.comments?.slice(0, nrShownComments);
          let i = index
        "
      >
        <a href="#" class="comment-profile-pic-anchor">
          <img
            src="assets/default_profile.jpg"
            alt="profile picture"
            class="small-profile-icon"
        /></a>
        <div class="comment-contents">
          <div class="author-name-row">
            <h3 class="comment-author">{{ comment.author }}</h3>
            <h4 class="comment-date">{{ comment.date }}</h4>
          </div>
          <p class="comment-text">{{ comment.text }}</p>
        </div>
      </div>
    </div>
    <!--FORM FOR POSTING A COMMENT-->
    <form
      action=""
      class="comment-row-form"
      (ngSubmit)="onCommentSubmit()"
      *ngIf="hasComments"
    >
      <a href="#" class="comment-profile-pic-anchor">
        <img
          src="assets/default_profile.jpg"
          alt="profile picture"
          class="small-profile-icon"
      /></a>
      <input
        [(ngModel)]="newComment"
        type="text"
        class="comment-input"
        name="comment-input"
      />
      <button class="submit" type="submit">
        <img
          src="assets/send_message.svg"
          class="normal-icon"
          alt="upload comment button"
        />
      </button>
    </form>
  </div>
</div>
