<div class="create-subject">
  <form action="" (ngSubmit)="onSaveClick()">
    <div class="input-row">
      <label for="name-input">Item name</label>
      <input
        type="text"
        class="text-input"
        [(ngModel)]="item['name']"
        id="name-input"
        name="name-input"
        [disabled]="dialogState === EditComponentStates.WAITING"
      />
      <img
        src="assets/loading.gif"
        class="medium-icon"
        alt="loading gif"
        *ngIf="dialogState === EditComponentStates.WAITING && items.length > 0"
      />
    </div>
    <button
      type="submit"
      class="btn btn-outline-dark"
      id="save-btn"
      [disabled]="dialogState === EditComponentStates.WAITING"
    >
      {{
        dialogState === EditComponentStates.CREATE ? "Create item" : "Save item"
      }}
    </button>
  </form>
</div>

<app-admin-table
  [disableTable]="dialogState === EditComponentStates.WAITING"
  [displayedAttributes]="['name']"
  [selectedItemIndex]="selectedItemIndex"
  [items]="items"
  (clickedPlus)="onPlusClick()"
  (confirmedDelete)="onConfirmDelete($event)"
  (selectedItem)="selectItem($event)"
></app-admin-table>
