<div class="create-subject">
  <app-popup *ngIf="popupVisible === true" [text]="popupText"></app-popup>
  <form action="" (ngSubmit)="onSave()">
    <div class="input-row">
      <label for="name-input">Subject name</label>
      <input
        type="text"
        class="text-input"
        [(ngModel)]="subject.name"
        id="name-input"
        name="name-input"
        [disabled]="dialogState === EditComponentStates.WAITING"
      />
      <img
        src="assets/loading.gif"
        class="medium-icon"
        alt="loading gif"
        *ngIf="dialogState === EditComponentStates.WAITING"
      />
    </div>
    <button
      type="submit"
      class="btn btn-outline-dark"
      [disabled]="dialogState === EditComponentStates.WAITING"
    >
      {{
        dialogState === EditComponentStates.CREATE
          ? "Create course"
          : "Save course"
      }}
    </button>
  </form>
</div>
<div
  id="edit-subject-table-container"
  class="table-container"
  [ngClass]="
    dialogState === EditComponentStates.WAITING
      ? 'disabled-table-container'
      : ''
  "
>
  <table class="table table-striped table-hover mh-100">
    <thead class="thead-light">
      <tr>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let subject of subjects; let i = index"
        style="cursor: pointer"
        (click)="selectSubject(i)"
        [ngClass]="getRowClass(i)"
      >
        <th scope="row">{{ subject._id }}</th>
        <td>{{ subject.name }}</td>
        <td>
          <button class="btn btn-outline-danger" (click)="onDelete($event, i)">
            Delete
          </button>
        </td>
      </tr>
      <tr class="w-100" style="cursor: pointer">
        <td colspan="100%" class="w-100 button-td">
          <button class="btn btn-outline-dark plus-btn" (click)="onPlusClick()">
            <img src="/assets/plus.svg" class="normal-icon plus-img" alt="" />
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
