<div class="create-subject">
  <button class="btn btn-outline-dark back-btn" (click)="onBack()">
    <img
      src="assets/left_arrow.svg"
      alt="back button arrow"
      class="normal-icon"
    />
  </button>
  <form action="" (ngSubmit)="onSaveClick()">
    <div class="input-row">
      <label for="name-input">Subject name</label>
      <input
        type="text"
        class="text-input"
        [(ngModel)]="item.name"
        id="name-input"
        name="name-input"
        [disabled]="dialogState === EditComponentStates.WAITING"
      />
    </div>
    <button
      type="submit"
      class="btn btn-outline-dark"
      id="save-btn"
      [disabled]="dialogState === EditComponentStates.WAITING"
    >
      {{
        dialogState === EditComponentStates.CREATE
          ? "Create subject"
          : "Save subject"
      }}
    </button>
  </form>
</div>

<app-admin-table
  [disableTable]="dialogState === EditComponentStates.WAITING"
  [displayedAttributes]="['name']"
  [selectedItemIndex]="selectedItemIndex"
  [items]="items"
  (clickedPlus)="onPlusClick()"
  (confirmedDelete)="onConfirmDelete($event)"
  (selectedItem)="selectItem($event)"
></app-admin-table>
