<app-popup
  *ngIf="popupVisible === true"
  [text]="popupText"
  (click)="onDeletePopupClick($event)"
></app-popup>

<div class="table-related">
  <div
    id="edit-subject-table-container"
    class="table-container"
    [ngClass]="disableTable === true ? 'disabled-table-container' : ''"
  >
    <table class="table table-striped table-hover mh-100">
      <colgroup>
        <col style="width: 10rem" />
        <col style="width: auto" />
        <col style="width: 6rem" />
      </colgroup>
      <thead class="thead-light">
        <tr>
          <th scope="col">id</th>
          <th scope="col" *ngFor="let attr of displayedAttributes">
            {{ attr }}
          </th>
        </tr>
      </thead>
      <tbody *ngIf="items.length > 0; else noItems">
        <tr
          *ngFor="let item of items; let i = index"
          style="cursor: pointer"
          (click)="selectItem(i)"
          [ngClass]="getRowClass(i)"
        >
          <th scope="row" class="id-trimmer">
            {{ item._id }}
          </th>
          <td *ngFor="let attr of displayedAttributes">{{ item[attr] }}</td>
          <td class="btn-cell">
            <button
              class="btn btn-outline-danger"
              (click)="onDelete($event, i)"
              [disabled]="popupVisible"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
      <ng-template #noItems>
        <!-- NO ITEMS-->
        <tbody *ngIf="disableTable !== true; else waiting">
          <tr>
            <td
              class="centered"
              [attr.colspan]="displayedAttributes.length + 1"
              style="height: 10rem"
            >
              <img
                src="/assets/no_items.svg"
                alt="no items"
                class="large-icon"
              />
              <h1>No items!</h1>
            </td>
          </tr>
        </tbody>
        <ng-template #waiting>
          <!-- WAITING-->
          <tbody>
            <tr>
              <td
                class="centered"
                [attr.colspan]="displayedAttributes.length + 1"
                style="height: 10rem"
              >
                <img
                  src="/assets/loading.gif"
                  alt="loading"
                  class="large-icon"
                />
                <h1>Waiting for the data!</h1>
              </td>
            </tr>
          </tbody>
        </ng-template>
      </ng-template>
    </table>
  </div>
  <hr class="cool-hr" />
  <button
    class="btn btn-outline-dark plus-btn"
    (click)="onPlusClick()"
    [disabled]="disableTable === true"
  >
    <img src="/assets/plus.svg" class="normal-icon plus-img" alt="" />
  </button>
</div>
