@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

:root {
  --EXTRA-SMALL-FONT-SIZE: 0.6rem;
  --SMALL-FONT-SIZE: 0.8rem;
  --NORMAL-FONT-SIZE: 1rem;
  --SMALL-PADDING-X: 0.5rem;
  --NORMAL-PADDING-X: 1rem;
  --NORMAL-PADDING-Y: 1rem;
  --LARGE-PADDING-Y: 2rem;
  --PADDING-HALF-TOP: calc(var(--NORMAL-PADDING-Y) / 2) var(--NORMAL-PADDING-X)
    calc(var(--NORMAL-PADDING-Y) / 2) var(--NORMAL-PADDING-X);
  --NORMAL-GAP: 1rem;
  --SMALL-GAP: 0.5rem;
  --EXTRA-SMALL-GAP: 0.25rem;
  --NORMAL-ICON-SIZE: 1rem;
  --MEDIUM-ICON-SIZE: 1.75rem;
  --LARGE-ICON-SIZE: 3rem;
  --NORMAL-BORDER-RADIUS: 0.25rem;
  --COURSES-SIDEBAR-WIDTH: max(15%, 5.5rem);
  --COURSES-SIDEBAR-MAX-WIDTH: 5rem;
  --DROP-SHADOW: drop-shadow(0 0.1rem 0.3rem rgba(0, 0, 0, 0.37));
  --NAV-BAR-HEIGHT: 3.5rem;
  --SMALL-BORDER-WIDTH: 0.1rem;
  --NORMAL-BORDER-WIDTH: 0.1rem;
  --NORMAL-BORDER: var(--NORMAL-BORDER-WIDTH) solid var(--BACKGROUND-SECONDARY);
  --THIN-BORDER: var(--SMALL-BORDER-WIDTH) solid var(--BACKGROUND-SECONDARY);
  --BACKGROUND-PRIMARY: var(--bs-light);
  --BACKGROUND-SECONDARY: rgb(192, 192, 192);
  background-color: var(--bs-light);
}

.small-icon {
  height: 1rem;
  object-fit: contain;
}
