<div class="home">
  <div class="header">
    <div
      class="states-container"
      (click)="onStateClick(HomeComponentStates.TO_DO)"
    >
      <h1>To do</h1>
    </div>
    <div
      class="states-container"
      (click)="onStateClick(HomeComponentStates.NEWS)"
    >
      <h1>News</h1>
    </div>
    <div
      [ngClass]="
        state === HomeComponentStates.TO_DO
          ? 'underscore-left'
          : 'underscore-right'
      "
    ></div>
  </div>
  <div class="container-div">
    <app-post-template
      *ngFor="let post of posts"
      [hasComments]="false"
      [nrInitialCommentsShown]="0"
      [post]="post"
      [leftPictureSrc]="'assets/default_profile.jpg'"
      [showTypeIcon]="state === HomeComponentStates.TO_DO ? true : false"
    ></app-post-template>
  </div>
</div>
